@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
:root {
    --primary: #094b65;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 80vh;
}

#header {
    position: absolute;
    top: 0;
    left: -10%;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header .logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--primary);
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: var(--primary);
    color: #fff;
}

.inline-container {
    display: flex;
    background-color: var(--primary);
    height: 80%;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--primary), transparent);
    z-index: 10;
}

section img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text {
    position: absolute;
    color: var(--primary);
    font-size: 10vw;
    text-align: center;
    line-height: .55em;
    font-family: 'Rancho', cursive;
    transform: translatey(-50%);
}

section #text span {
    font-size: .20em;
    letter-spacing: 2px;
    font-weight: 400;
}

#btn {
    text-decoration: none;
    display: inline-block;
    background: #fff;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
}

.sec {
    position: relative;
    flex: 1;
    background: var(--primary);
    color: #fff;
    min-height: 100vh;
}

.sec h2 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
}

.sec-wrapper {
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*-----------------------card UI Portfolio-------------------------------------------*/

.port-card {
    color: #2b2c48;
    font-family: "Jost", sans-serif;
    background-color: #094b65;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-top: 40px;
}


/*--------------------------------bird fly----------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');
*,
*::before,
*::after {
    box-sizing: border-box;
}

.bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s;
}

.bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}

.bird--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}

.bird--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}

.bird-container {
    position: absolute;
    top: 20%;
    left: 0%;
}

.bird-container--one {
    position: absolute;
    top: 20%;
    left: 0%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-delay: 0;
}

.bird-container--two {
    position: absolute;
    top: 20%;
    left: 0%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 16s;
    animation-delay: 5s;
}

.bird-container--three {
    position: absolute;
    top: 20%;
    left: 0%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-two;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 14.6s;
    animation-delay: 9.5s;
}

.bird-container--four {
    position: absolute;
    top: 20%;
    left: 0%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-two;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 16s;
    animation-delay: 10.25s;
}

@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}

@keyframes fly-right-one {
    0% {
        transform: scale(0.3) translateX(0vw);
    }
    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }
    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }
    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }
    40% {
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }
    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }
    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
}

@keyframes fly-right-two {
    0% {
        transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }
    10% {
        transform: translateY(0vh) translateX(10vw) scale(0.4);
    }
    20% {
        transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }
    30% {
        transform: translateY(1vh) translateX(50vw) scale(0.45);
    }
    40% {
        transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }
    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.45);
    }
    51% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
}


/*----------text carousal----*/

svg {
    display: block;
    left: -200px;
    font: 10.5em 'Montserrat';
    width: 400px;
    height: 50px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: black;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: blue;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}


/*---- ---------------------------------------------------dragon fly----*/

.ag-dragon {
    height: 212px;
    width: 300px;
    -webkit-animation: an-dragon-fly-right 15s ease-in infinite;
    -moz-animation: an-dragon-fly-right 15s ease-in infinite;
    -o-animation: an-dragon-fly-right 15s ease-in infinite;
    animation: an-dragon-fly-right 15s ease-in infinite;
    position: absolute;
    top: 50%;
    left: 0;
}

.ag-dragon:before {
    content: "";
    background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-sprite/images/dragon.png) no-repeat scroll 0 0;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-animation: an-dragon-fly 1s steps(9) infinite;
    -moz-animation: an-dragon-fly 1s steps(9) infinite;
    -o-animation: an-dragon-fly 1s steps(9) infinite;
    animation: an-dragon-fly 1s steps(9) infinite;
}

@-webkit-keyframes an-dragon-fly-right {
    to {
        top: 1%;
        left: 150%;
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
}

@-moz-keyframes an-dragon-fly-right {
    to {
        top: 1%;
        left: 150%;
        -moz-transform: scale(0.4);
        transform: scale(0.4);
    }
}

@-o-keyframes an-dragon-fly-right {
    to {
        top: 1%;
        left: 150%;
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}

@keyframes an-dragon-fly-right {
    to {
        top: 1%;
        left: 150%;
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}

@-webkit-keyframes an-dragon-fly {
    to {
        background-position: 0 100%;
    }
}

@-moz-keyframes an-dragon-fly {
    to {
        background-position: 0 100%;
    }
}

@-o-keyframes an-dragon-fly {
    to {
        background-position: 0 100%;
    }
}

@keyframes an-dragon-fly {
    to {
        background-position: 0 100%;
    }
}


/* /------------------------------------------typewriter effect ----------------------------------------------------------- */

a {
    text-decoration: none;
    color: #111b47;
}

a:hover {
    border-bottom: 1px dashed #ED971F;
    color: #ED971F;
}


/**** slider ****/

#slider,
.ul-slider {
    height: 400px;
}

#slider {
    margin: auto;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 600px;
    padding: 30px;
    left: 3%;
}

#slider .li-slider {
    float: left;
    position: relative;
    width: 600px;
    display: inline-block;
    height: 200px;
}

#slider .ul-slider {
    list-style: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9000px;
    transition: left .3s linear;
    -moz-transition: left .3s linear;
    -o-transition: left .3s linear;
    -webkit-transition: left .3s linear;
    margin-left: -25px;
    font-family: century gothic;
    color: #666;
}


/*** Content ***/

.slider-container {
    margin: 0 auto;
    padding: 0;
    width: 550px;
    min-height: 180px;
    border-bottom: 1px solid #ccc;
}

.slider-container {
    color: #0A7FAD;
    text-shadow: -1px 0px 0px rgba(0, 0, 0, 0.50);
}

#h4 {
    color: #ccc;
    padding-top:40px;
    padding-left: 20px;

}

.slider-container #p {
    margin: 10px 25px;
    font-weight: semi-bold;
    line-height: 150%;
    text-align: justify;
}


/*** target hooks ****/

@-webkit-keyframes slide-animation {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    20% {
        left: 0px;
        opacity: 1;
    }
    22.5% {
        opacity: 0.6;
    }
    25% {
        left: -600px;
        opacity: 1;
    }
    45% {
        left: -600px;
        opacity: 1;
    }
    47.5% {
        opacity: 0.6;
    }
    50% {
        left: -1200px;
        opacity: 1;
    }
    70% {
        left: -1200px;
        opacity: 1;
    }
    72.5% {
        opacity: 0.6;
    }
    75% {
        left: -1800px;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    98% {
        left: -1800px;
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 0;
    }
}

#slider .ul-slider {
    -webkit-animation: slide-animation 25s infinite;
}


/* use to paused the content on mouse over */

#slider .ul-slider:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.table {
    color: white;
    padding: 10px;
    text-align: center;
}

.td {
    padding: 5px;
}

.tds {
    padding: 30px;
}

.name-pad {
    color: white;
    padding: 20px;
}

.project-desc {
    font-size: 16px;
    padding-left: 20px;
    color: white;
    padding-bottom: 10px;
}


/*-------------------------Filter method Project------------------------------------------------*/

.filterElements {
    float: left;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgb(28, 98, 179);
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}

.show {
    display: block;
}

.container {
    margin-top: 20px;
    overflow: hidden;
}

.btn {
    border: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    outline: none;
    padding: 12px 16px;
    background-color: #d6e5ec;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(157, 209, 211);
}

.btn.active {
    background-color: rgb(34, 95, 228);
    color: white;
}


/*----------------------------------------certificate slider show-------------*/

.certificate-slider {
    height: 480px;
    width: 500px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 35px;
    color: #d6e5ec;
}

/*-----------------------------------------------PORTFOLIO------------------------------------------------------------/
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio-background{
    background-color: #094b65;
    position: relative;
    width: 100%;
    height: 100vh;
}
.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 3px 10px 3px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background: #18d26e;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #63eda3;
}

.portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.portfolio-details .container {
    padding-top: 20px;
    padding-bottom: 40px;
}

.portfolio-details .portfolio-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-info {
    padding-top: 45px;
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-info p {
    font-size: 15px;
    padding: 15px 0 0 0;
}

@media (max-width: 992px) {
    .portfolio-details .portfolio-info {
        padding-top: 20px;
    }
}

.portfolio-details .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.3);
}

.portfolio-details .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #18d26e;
}